.trainingFooter {
  position: absolute;
  display: block;
  background-color: #002663;
  height: 40px;
  text-align: left;
  line-height: 40px;
  padding: 15px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #eff3f6;
  font-weight: bolder;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 10px;
}
